html
  head
    title= title
    script(src="/jqueryReactBundle.js")
    script(src="/homeBundle.js")
    link(rel="stylesheet", href="/styles/bootstrap.min.css")
  body
    div(class="pageContainer")